* {
    box-sizing: border-box;
    background-color: rgb(229, 222, 212);
}

h1 {
    background-color: rgb(5, 81, 116);
}
h2 {
    justify-content: left;
    font-size: 40px;
    color:rgb(5, 81, 116); 
}
.overlay h3, .overlay p {
    background-color: transparent;
}

/* Header and Navigation*/
header {
    display: flex;
    width: 100%;
    margin-top: 2%;
    padding: 20px;
    font-size: 30px;
    background-color: rgb(5, 81, 116);
    color: white;
    column-count: 3;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 2%;  
}

header h1 {
    margin-left: 4%;
}


main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 2%;
}


.topnav {
    display: flex;
    justify-content: right;
    background-color:rgb(5, 81, 116);
    overflow: hidden;
    margin-left: 30%;
    height: 50%;
    
}

.topnav a {
    display: flex;
    float: right;
    color: #fcfcfc;
    background-color: rgb(5, 81, 116);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color:black;
}

.topnav a.active {
    background-color:white;
    color: black;
}

/*Flexbox*/
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.flex-container-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
/* Overall Sections*/
#About {
    margin-top: 75px;
    border-style: solid;
    border-width: thick;
    border-color: rgb(5, 81, 116);
    background-color: white;
}

#About h2, #About p {
    background-color: white;
    margin: 25px;
}

#About p {
    font-size: 20px;
}

#Work h2 {
    margin-top: 75px;
    border-style: solid;
    border-width: thick;
    border-color: rgb(5, 81, 116);
    background-color: white;
}

#Contact {
    margin-top: 75px;
    border-style: solid;
    border-width: thick;
    border-color: rgb(5, 81, 116);
    background-color: white;
}

#Contact h2, #Contact p, #Contact a {
    background-color: white;
    margin: 25px;
}

/* card-1*/
#card-1 img {
    display: inline-block;
    flex-wrap: wrap;
    max-width: 700px;
    height: 350px;
}


#card-1 .overlay {
    position: absolute;
    bottom: -8%;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 700px;
    height: -30%;
    opacity:1;
    font-size: 20px;
    padding: 20px;
    text-align: center;   
}

#card-1:hover img {
    padding: 30px;
    padding-right: 30px;
    background-color: lightblue;
    transition-duration: 1s;
    
}

/* Cards 2 & 3*/
#card-2 img, #card-3 img {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    background-color: white;
    height: 200px;
    margin: 50px;
}


#card-2:hover img , #card-3:hover img {
    padding: 10px;
    padding-right: 10px;
    background-color: lightblue;
    transition-duration: 1s;
}

#card-2 .overlay , #card-3 .overlay {
    text-align: center;
    background-color: white;
    margin: 40px;
    border-style: solid;
    border-width: thick;
    border-color: rgb(5, 81, 116);
    text-decoration: none;
}

/* Contact Section */

#Contact p {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
#Contact a {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

#Contact a:hover {
    color: black; 
}